<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diabetes Prediction App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Hotel Booking Prediction App</h1>
        <form action="/" method="post">
            <div class="form-group">
                <label for="hotel">Number of hotel:</label>
                <input type="number" class="form-control form-control-sm" name="hotel" required>
            </div>
            <div class="form-group">
                <label for="meal">meal:</label>
                <input type="meal" class="form-control form-control-sm" name="meal" required>
            </div>
            <div class="form-group">
                <label for="market_segment">market_segment</label>
                <input type="number" class="form-control form-control-sm" name="market_segment" required>
            </div>
            <div class="form-group">
                <label for="distribution_channel">distribution_channel</label>
                <input type="number" class="form-control form-control-sm" name="distribution_channel" required>
            </div>
            <div class="form-group">
                <label for="reserved_room_type">reserved_room_type</label>
                <input type="number" class="form-control form-control-sm" name="reserved_room_type" required>
            </div>
            <div class="form-group">
                <label for="deposit_type">deposit_type</label>
                <input type="number" class="form-control form-control-sm" step="any" name="deposit_type" required>
            </div>
            <div class="form-group">
                <label for="customer_type">customer_type</label>
                <input type="number" class="form-control form-control-sm" step="any" name="customer_type" required>
            </div>
            <div class="form-group">
                <label for="year">year</label>
                <input type="number" class="form-control form-control-sm" name="year" required>
            </div>
            <div class="form-group">
                <label for="month">month</label>
                <input type="number" class="form-control form-control-sm" name="month" required>
            </div>
            <div class="form-group">
                <label for="day">day</label>
                <input type="number" class="form-control form-control-sm" name="day" required>
            </div>
            <div class="form-group">
                <label for="lead_time">lead_time</label>
                <input type="number" class="form-control form-control-sm" name="lead_time" required>
            </div>
            <div class="form-group">
                <label for="arrival_date_week_number">arrival_date_week_number</label>
                <input type="number" class="form-control form-control-sm" name="arrival_date_week_number" required>
            </div>
            <div class="form-group">
                <label for="arrival_date_day_of_month">arrival_date_day_of_month</label>
                <input type="number" class="form-control form-control-sm" name="arrival_date_day_of_month" required>
            </div>
            <div class="form-group">
                <label for="stays_in_weekend_nights">stays_in_weekend_nights</label>
                <input type="number" class="form-control form-control-sm" name="stays_in_weekend_nights" required>
            </div>
            <div class="form-group">
                <label for="stays_in_week_nights">stays_in_week_nights</label>
                <input type="number" class="form-control form-control-sm" name="stays_in_week_nights" required>
            </div>
            <div class="form-group">
                <label for="adults">adults</label>
                <input type="number" class="form-control form-control-sm" name="adults" required>
            </div>
            <div class="form-group">
                <label for="children">children</label>
                <input type="number" class="form-control form-control-sm" name="children" required>
            </div>
            <div class="form-group">
                <label for="babies">babies</label>
                <input type="number" class="form-control form-control-sm" name="babies" required>
            </div>
            <div class="form-group">
                <label for="is_repeated_guest">is_repeated_guest</label>
                <input type="number" class="form-control form-control-sm" name="is_repeated_guest" required>
            </div>
            <div class="form-group">
                <label for="previous_cancellations">previous_cancellations</label>
                <input type="number" class="form-control form-control-sm" name="previous_cancellations" required>
            </div>
            <div class="form-group">
                <label for="previous_bookings_not_canceled">previous_bookings_not_canceled</label>
                <input type="number" class="form-control form-control-sm" name="previous_bookings_not_canceled" required>
            </div>
            <div class="form-group">
                <label for="agent">agent</label>
                <input type="number" class="form-control form-control-sm" name="agent" required>
            </div>
            <div class="form-group">
                <label for="company">company</label>
                <input type="number" class="form-control form-control-sm" name="company" required>
            </div>
            <div class="form-group">
                <label for="adr">adr</label>
                <input type="number" class="form-control form-control-sm" name="adr" required>
            </div>
            <div class="form-group">
                <label for="required_car_parking_spaces">required_car_parking_spaces</label>
                <input type="number" class="form-control form-control-sm" name="required_car_parking_spaces" required>
            </div>
            <div class="form-group">
                <label for="total_of_special_requests">total_of_special_requests</label>
                <input type="number" class="form-control form-control-sm" name="total_of_special_requests" required>
            </div>
            <button type="submit" class="btn btn-primary btn-sm">Hotel Booking Prediction Result</button>
        </form>
    </div>
</body>
</html>
